body { /* Creates static background of linear gradient for page. */
    background: rgb(45,81,91);
    background: linear-gradient(90deg, rgba(45,81,91,1) 0%, rgba(40,89,122,1) 35%, rgba(6,62,80,1) 77%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}

.head, .mytext {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#input, #enter {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

#here {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}